.welcome{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}
.main-content{
    padding: 15px;
    border: solid #ddd 1px;
    background-color: #fff;
}
.star{
    font-weight: 200;
    color: red;
    font-size: 20px;
    line-height: 0;
    vertical-align: -6px;
    font-style: normal;
    font-family: "微软雅黑";
    margin-right: 3px;
}
.breadcrumb-div .breadcrumb{
    margin-bottom: 0;
}
.operate{
    padding: 5px 0;
}
.progress{
    background-color: #f0ad4e;
    display: block;
    height: 5px;
    margin-top: 5px;
    border-radius: 3px;
}
.table-img{
    width: 100px;
    border: 1px solid #eee;
}
