<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>502错误</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html {
            background: url("/static/images/error-bg.gif") repeat top left fixed;
        }
        body{
            background-color: transparent;
        }
        .main{
            margin-top: 60px;
            border:1px solid #eee;
            background-color: #fff;
            padding-bottom: 15px;
            padding-top: 15px;
        }
    </style>
</head>
<body>
<section class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1 main" style="text-align: center">
            <img class="img-notfound" height="320" src="/static/images/notfound.gif" width="520">
            <h2 style="margin-bottom: 20px;">啊~哦~ 服务器出现了故障！错误码：502</h2>
            <p>请重新尝试或者联系网站管理员</p>
            <p style="font-size: 14px; line-height: 20px">
                您可以回到 <a href="/index">网站首页</a> 或者 <a href="javascript:window.history.back();">返回上一页</a>
            </p>
        </div>
    </div>
</section>
</body>
</html>