{% extends "./base.html" %}
{% block main %}
    <form action="" method="get" class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="name" class="col-md-2 col-sm-2 control-label">用户名称</label>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="请输入用户名称" value="{{data.admin_name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-2 col-sm-2 control-label">邮箱</label>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="请输入邮箱" value="{{data.admin_email}}">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 col-sm-2 control-label">设置密码</label>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="设置密码">
                </div>
            </div>
            <div class="form-group">
                <label for="role" class="col-md-2 col-sm-2 control-label">设置角色</label>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <select class="form-control" id="role">
                        {% for list in role %}
                        <option id="{{list.role_id}}" {{'selected' if list.role_id==data.role_id else ''}}>{{list.role_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-offset-1 col-sm-offset-2">
                <button type="submit" class="btn btn-success" id="push-btn" style="margin-left: 20px;">确定</button>
            </div>
        </div>
    </form>
    <script src="/static/js/jquery.md5.js"></script>
    <script>
        $(function () {
            $('#push-btn').off('click').on('click',function (e) {
                e.preventDefault();
                var admin_name=$.trim($('#name').val());
                var admin_email=$.trim($('#email').val());
                var password=$.trim($('#password').val());
                var role_id=$('#role option:selected').attr('id');
	            var editId=GetQueryString('id');//是否是编辑
	            if(!editId){
		            editId=0
	            }
                if(!admin_name || !admin_email){
                    layer.msg('请输入用户名称和邮箱');
                    return false;
                }
                if(!role_id){
	                layer.msg('请先建立角色');
	                return false;
                }
                var parms={
	                'admin_name':admin_name,
                    'admin_email':admin_email,
                    'editId':editId,
                    'role_id':role_id,
                    'admin_pass':$.md5(password)
                };

                loading=layer.load(2);
                $.post('/admin_user/doadd',parms,function (data) {
                    if(data.success){
                        layer.close(loading);
                        layer.msg(data.errmsg);
	                    setTimeout(function () {
		                    window.location.href='/admin_user/index?menu_id=2';
	                    },2000)
                    }else{
                        layer.close(loading);
                        layer.msg(data.errmsg);
                    }

                },'json')
            });
        })
    </script>

{% endblock%}