{% extends "./base.html" %}
{% block main %}
<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-clipboard"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">文章数</span>
                <span class="info-box-number">{{articleNum}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-bullhorn"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">通知公告</span>
                <span class="info-box-number">{{noticeNum}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-photo"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">水研图库</span>
                <span class="info-box-number">{{slideshowNum}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-envelope-open"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">联系我们</span>
                <span class="info-box-number">{{contactNum}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>

</script>

{% endblock%}