{% extends "./base.html" %}
{% block main %}
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>缩略图</td>
                    <td>所属分类</td>
                    <td>文章标题</td>
                    <td>副标题</td>
                    <td>简介</td>
                    <td>正文内容</td>
                    <td>作者</td>
                    <td>来源</td>
                    <td>点击数</td>
                    <td>创建时间</td>
                    <td>最后更新时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            {% for list in news_list.data%}
                <tr>
                    <td>{{loop.index}}</td> <!--当前循环数-->
                    <td>{{list.thumb}}</td>
                    <td>{{list.sort_name}}</td>
                    <td>{{list.title}}</td>
                    <td>{{list.sub_title}}</td>
                    <td>{{list.intro}}</td>
                    <td>{{list.content}}</td>
                    <td>{{list.author}}</td>
                    <td>{{list.copyfrom}}</td>
                    <td>{{list.hits}}</td>
                    <td>{{list.create_time}}</td>
                    <td>{{list.update_time}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm edit" data-id="{{list.article_id}}">编辑</button>
                        <button type="button" class="btn btn-warning btn-sm delete" data-id="{{list.article_id}}">删除</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination | safe}}
    </div>
    <script>
        $(function () {
            /*
            * 编辑栏目
            * */
            $('.edit').off('click').on('click',function (e) {
                var id=$(this).attr('data-id');
                window.location.href='/news_sort/add?sort-id='+id+'';
            });
            /*
            * 删除栏目
            * */
            $('.delete').off('click').on('click',function (e) {
                var that=this;
                layer.confirm('您确定执行删除操作？', {
                    btn: ['确定','取消']
                }, function(){
                    var id=$(that).attr('data-id');
                    var loading=layer.load(2);
                    $.get('/news_sort/delete',{'sort-id':Number(id)},function (data) {
                        if(data.errno==0){
                            layer.close(loading);
                            layer.msg(data.errmsg);
                            $(that).closest('tr').remove();
                        }
                    },'json')
                }, function(){

                });

            });
        })
    </script>

{% endblock%}