{% extends "./base.html" %}
{% block main %}
    <form action="" method="get" class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="role-name" class="col-md-2 col-sm-2 control-label">角色名称</label>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <input type="text" class="form-control" id="role-name" placeholder="请输入角色名称" value="{{data.role_name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="role-desc" class="col-md-2 col-sm-2 control-label">角色描述</label>
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <input type="text" class="form-control" id="role-desc" placeholder="请输入角色描述" value="{{data.role_remark}}">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-md-offset-1 col-sm-offset-2">
                <button type="submit" class="btn btn-success" id="push-btn" style="margin-left: 20px;">确定</button>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $('#push-btn').off('click').on('click',function (e) {
                e.preventDefault();
                var name=$.trim($('#role-name').val());
                var desc=$.trim($('#role-desc').val());
	            var editId=GetQueryString('role-id');//是否是编辑
	            if(!editId){
		            editId=0
	            }
                if(!name || !desc){
                    layer.msg('请输入友情链接名称和地址');
                    return false;
                }

                loading=layer.load(2);
                $.get('/role/doadd',{'role_name':name,'role_remark':desc,'editId':editId},function (data) {
                    if(data.success==true){
                        layer.close(loading);
                        layer.msg(data.errmsg);
	                    setTimeout(function () {
		                    window.location.href='/role/index?menu_id=4';
	                    },2000)
                    }else{
                        layer.close(loading);
                        layer.msg(data.errmsg);
                    }

                },'json')
            });
        })
    </script>

{% endblock%}