{% extends "./base.html" %}
{% block main %}
<link rel="stylesheet" href="/static/plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style type="text/css">
    .ztree *{
        font-size: 14px;
    }
    .ztree li span.button.add {
        margin-left:2px;
        margin-right: -1px;
        background-position:-144px 0;
        vertical-align:top;
        *vertical-align:middle
    }
</style>
<script type="text/javascript" src="/static/plugins/ztree/jquery.ztree.all.min.js"></script>
    <div class="operate">
        <div class="btn-group">
            <a href="/role/add?menu_id=4" class="btn btn-info btn-flat">添加角色</a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>
                        序号
                    </td>
                    <td>
                        角色名称
                    </td>
                    <td>
                        角色描述
                    </td>
                    <td>
                        状态
                    </td>
                    <td>
                        创建时间
                    </td>
                    <td>
                        操作
                    </td>
                </tr>
            </thead>
            <tbody>

            {% for list in data%}
                <tr>
                    <td>{{loop.index}}</td> <!--当前循环数-->
                    <td>{{list.role_name}}</td>
                    <td>{{list.role_remark}}</td>
                    <td>
                        {% if list.status=='2' %}
                        启用
                        {% else %}
                        <span class="text-red">禁用</span>
                        {% endif %}
                    </td>
                    <td>{{list.create_time}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm view" data-id="{{list.role_id}}">角色成员</button>
                        <button type="button" class="btn btn-success btn-sm auth" data-id="{{list.role_id}}">分配权限</button>
                        <button type="button" class="btn btn-info btn-sm edit" data-id="{{list.role_id}}">编辑</button>
                        <button type="button" class="btn btn-danger btn-sm enabled" data-id="{{list.role_id}}" data-status="{{list.status}}">{{'启用' if list.status=='1' else '禁用'}}</button>
                        <button type="button" class="btn btn-warning btn-sm delete" data-id="{{list.role_id}}">删除</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <!--查看角色-->
    <div id="role-dom" style="display: none">
        <ul class="role-member clearfix">

        </ul>
    </div>
    <!--分配权限-->
    <div id="auth-dom" style="display: none">
        <ul id="tree" class="ztree"></ul>
    </div>
<input type="hidden" id="choose_auth">
    <script>
        $(function () {
        	/*
        	* 查看角色成员
        	* */
            $('.view').off('click').on('click',function (e) {
            	var id=$(this).attr('data-id');
            	var width,height;
            	if(isPhone()){
		            width='100%';
		            height='60%'
                }else{
		            width='600px';
		            height='50%'
                }

	            layer.open({
		            type: 1,
		            title:'角色成员',
		            skin: 'layui-layer-rim', //加上边框
		            area: [width, height], //宽高
		            btn:['关闭'],
		            shadeClose:true,
		            btnAlign: 'c',
		            content: $('#role-dom').html(),
		            success:function (layero,index) {
			            loading=layer.load(2);
                        $.get('/role/viewMember',{'id':id},function (data) {
                        	var dom;
                        	layer.close(loading);
                            if(data.success){
                            	var list=data.data;
                            	for(var i=0;i<list.length;i++){
		                            dom='<li class="pull-left">'+list[i].admin_name+'</li>'
                                }
                            	$('.role-member',layero).html(dom)
                            }
                        },'json')
		            }
	            });
            });
            /*
            * 编辑栏目
            * */
            $('.edit').off('click').on('click',function (e) {
                var id=$(this).attr('data-id');
                window.location.href='/role/add?menu_id=4&role-id='+id+'';
            });
            /*
            * 禁用，启用
            * */
	        $('.enabled').off('click').on('click',function (e) {
		        var id=$(this).attr('data-id');
		        var status=$(this).attr('data-status');
		        if(status=='1'){
			        status=2
                }else{
			        status=1
                }
		        layer.confirm('您确定修改当前状态吗？', {
			        btn: ['确定','取消']
		        }, function(){
			        loading=layer.load(2);
			        $.get('/role/doenable',{'id':id,'status':status},function (data) {
				        layer.close(loading);
				        if(data.success){
					        layer.msg('修改状态成功');
					        setTimeout(function (e) {
						        window.location.reload();
					        },2000)
				        }else{
					        layer.msg('修改状态失败')
				        }
			        },'json')

		        }, function(){

		        });

	        });
            /*
            * 删除角色
            * */
            $('.delete').off('click').on('click',function (e) {
                var that=this;
                layer.confirm('您确定执行删除操作？', {
                    btn: ['确定','取消']
                }, function(){
                    var id=$(that).attr('data-id');
                    loading=layer.load(2);
                    $.get('/role/delete',{'id':Number(id)},function (data) {
                        if(data.success){
                            layer.close(loading);
                            layer.msg(data.errmsg);
                            $(that).closest('tr').remove();
                        }else{
                            layer.close(loading);
                            layer.msg(data.errmsg);
                        }
                    },'json')
                }, function(){

                });

            });
            /*
            * 分配角色
            * */
            $('.auth').off('click').on('click',function (e) {
	            var id=$(this).attr('data-id');
	            var width,height;
	            if(isPhone()){
		            width='100%';
		            height='80%'
	            }else{
		            width='600px';
		            height='60%'
	            }

	            layer.open({
		            type: 1,
		            title:'权限管理',
		            skin: 'layui-layer-rim', //加上边框
		            area: [width, height], //宽高
		            btn:['确定','关闭'],
		            shadeClose:true,
		            btnAlign: 'c',
		            content: $('#auth-dom').html(),
		            success:function (layero,index) {
			            loading=layer.load(2);
			            $.get('/role/distributeAuth',{'id':id},function (data) {
				            var dom;
				            layer.close(loading);
				            if(data.success){
					            $.fn.zTree.init($('#tree',layero), setting, data.data);


					            var auth_id=$('#choose_auth').val();

					            var treeObj = $.fn.zTree.getZTreeObj("tree",layero);
					            var nodes = treeObj.getCheckedNodes(false);

					            var pid= auth_id; /**此处数据前后必须拼接;*/

					            for (var i = 0; i < nodes.length; i++) {

						            if (pid.indexOf("," + nodes[i].auth_id + ",") != -1) {

							            zTreeObj.expandNode(nodes[i], true); //展开选中的
							            zTreeObj.checkNode(nodes[i], true);
						            }
					            }


					            //onCheck();


				            }
			            },'json')
		            },
                    yes:function (index,layero) {
                        //获取ztree 选中的auth_id
                        var auth_id=$('#choose_auth').val();
	                    loading=layer.load(2);
	                    $.get('/role/doAuth',{'auth_id':auth_id,'role_id':id},function (data) {
		                    layer.close(loading);
		                    if(data.success){
		                    	layer.msg('修改成功');
		                    	setTimeout(function (e) {
				                    layer.closeAll();
			                    },2000);

		                    }else{
			                    layer.msg(data.errmsg);
                            }
	                    },'json')
                    }
	            });
            });
        })
    </script>
<script>
	var setting = {
		check: {
			enable: true,
			chkboxType: { "Y": "ps", "N": "s" }
		},
		data: {
			/*simpleData: {
				enable: true
			}*/
			key:{
				children:'children',
                name:'auth_name'
            }
		},
		callback: {
			onCheck: onCheck
		}
	};

	var zNodes =[
		{ name:"用户管理", open:true,checked:true,
			children: [
				{ name:"前台用户管理",checked:true,
					children: [
						{ name:"叶子节点111",isMenu:'0',checked:true,},
						{ name:"叶子节点112",isMenu:'1',checked:true,},
						{ name:"叶子节点113",isMenu:'0',checked:true,},
						{ name:"叶子节点114",isMenu:'0',checked:true,}
					]},
				{ name:"后台用户管理",
					children: [
						{ name:"叶子节点111"},
						{ name:"叶子节点112"},
						{ name:"叶子节点113"},
						{ name:"叶子节点114"}
					]},
			]},
		{ name:"父节点2 - 折叠",
			children: [
				{ name:"叶子节点211"},
				{ name:"叶子节点212"},
				{ name:"叶子节点213"},
				{ name:"叶子节点214"},
				{ name:"叶子节点221"},
				{ name:"叶子节点222"},
				{ name:"叶子节点223"},
				{ name:"叶子节点224"},
				{ name:"叶子节点231"},
				{ name:"叶子节点232"},
				{ name:"叶子节点233"},
				{ name:"叶子节点234"}
			]},
		{ name:"父节点3 - 没有子节点", isParent:true}

	];

	function filter(node) {   //过滤器直选中2级节点累加
		return node.checked == true
	}
	function onCheck(e, treeId, treeNode){  //这是将所有选中节点的名字 用,分割做拼接 用于持久化到数据库

		var treeObj = $.fn.zTree.getZTreeObj('tree');
		var nodes = treeObj.getNodesByFilter(filter);

		var choose = '';
		for (var i=0;i<nodes.length;i++) {

			if(nodes[i].auth_id !=null)
				choose +=(i == (nodes.length-1))?nodes[i].auth_id:nodes[i].auth_id+',';
		}
		//存储选中的项的权限id
        $('#choose_auth').val(choose);
	}
</script>

{% endblock%}