{% extends "./base.html" %}
{% block main %}
<link href="/static/js/web-uploader//dist/webuploader.css" rel="stylesheet">
<form action="" method="post" class="form-horizontal" id="form">
    <div class="box-body">
        <div class="form-group">
            <label for="slide-title" class="col-md-2 col-sm-2 control-label">图片标题</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <input type="text" class="form-control" id="slide-title" placeholder="图片标题"
                       value="{{slideData.slide_title}}">
            </div>
        </div>
        <div class="form-group">
            <label for="slide-descrition" class="col-md-2 col-sm-2 control-label">图片描述</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <textarea class="form-control" id="slide-descrition" rows="4" placeholder="图片描述">{{slideData.slide_text}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="slide-url" class="col-md-2 col-sm-2 control-label">跳转链接地址</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <input type="text" class="form-control" id="slide-url" placeholder="格式 http://或者https:// 开头" value="{{slideData.slide_jumpurl if slideData.slide_jumpurl else '#'}}">
            </div>
        </div>
        <div class="form-group">
            <label for="is-slide" class="col-md-2 col-sm-2 control-label">设置为首页轮播图</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <label style="font-weight: 100;padding-top: 7px;">
                    <input type="checkbox" class="flat-red isslide" id="is-slide" {{ "checked" if slideData.is_slide==1 else "" }}/>
                    （首页轮播图最多允许为5张）
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="uploader" class="col-md-2 col-sm-2 control-label">图片上传</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <!--<input type="file" class="form-control" id="slide-upload" name="slide-upload">-->
                <!--dom结构部分-->
                <div id="uploader">
                    <div class="upload-title">选择图片自动上传，无需等待</div>
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list">
                        {% if slideData.slide_img.length>0 %}
                            <div class="file-item thumbnail" up_img_url="{{slideData.slide_img}}">
                                <img src="{{qiniuImgHost}}{{slideData.slide_img}}?{{shuiyanImgThumb}}">
                            </div>
                        {% endif %}
                    </div>
                    {% if slideData.slide_img.length>0 %}
                        <div id="re-select" class="btn btn-warning">重新上传</div>
                        <div id="filePicker" style="visibility: hidden">选择图片</div>
                        {% else %}
                        <div id="filePicker">选择图片</div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-md-offset-1 col-sm-offset-2">
            {% if editSort %}
            <button type="button" class="btn btn-default" onclick="javascript:window.history.back();">返回</button>
            {% endif %}
            <button type="submit" class="btn btn-success" id="push-btn" style="margin-left: 20px;">确定</button>
        </div>
    </div>
</form>
<script src="/static/js/web-uploader/dist/webuploader.js"></script>
<script>
    $(function () {
    	//radio checkbox
	    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
		    checkboxClass: 'icheckbox_flat-blue',
		    radioClass   : 'iradio_flat-blue'
	    });
        /*
         * 百度上传插件
         * */
        // 初始化Web Uploader
        // 缩略图大小
        // 优化retina, 在retina下这个值是2
        var ratio = window.devicePixelRatio || 1,
            thumbnailWidth = 210 * ratio,
            thumbnailHeight = 210 * ratio;
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '/static/js/web-uploader/dist/Uploader.swf',
            // 文件接收服务端。
            server: '/slideshow/uploadQiniu',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
	        method:'POST',
	        duplicate:true,//设置是否可以重复上传
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
	            mimeTypes:'image/*'   //手机端可以打开相册
            },
            thumb:{
                width: 210,
                height: 210,
            },
            fileNumLimit:1,
            fileSingleSizeLimit:5 * 1024 * 1024,   // 5M
	        timeout: 0
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $list=$('#fileList');
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                        '<img style="display: block">' +
                        '<div class="progress"><span></span></div>'+
                        '<div class="info">' + file.name + '</div>' +
                    '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.append($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress"><span></span></div>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file,response) {
        	if(response.success==true){
		        $('#' + file.id).addClass('upload-state-done').attr({
			        //'up_img_url':response.data.img_path,
			        //'up_img_url_thumb':response.data.img_path_thumb
			        'up_img_url':response.data.key
		        });
            }else{
		        var $li = $('#' + file.id),
			        $error = $li.find('div.error');

		        // 避免重复创建
		        if (!$error.length) {
			        $error = $('<div class="error"></div>').appendTo($li);
		        }

		        $error.text('上传失败');
            }

        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });
        uploader.onError = function( code ) {
            if(code=='Q_EXCEED_NUM_LIMIT'){
                layer.msg('只能上传一张图片')
            }else if(code=='F_EXCEED_SIZE'){
                layer.msg('请上传3M以内的图片')
            }
            else{
                layer.msg(code)
            }
        };
        /*
        * 编辑时，重新上传图片，移除dom 显示filePicker按钮 按照新增时的流程上传图片
        * */
        $('#re-select').off('click').on('click',function (e) {
            $(this).hide();
            $('#fileList').find('.file-item').remove();
            $('#filePicker').css('visibility','visible');
        });

        /*
        * 提交图片路径和文字
        * */
        $('#push-btn').off('click').on('click', function (e) {
            e.preventDefault();
            var editId = GetQueryString('slide-id');//是否是编辑
            if (!editId) {
                editId = 0
            }
            var title = $.trim($('#slide-title').val());
            var descrition = $.trim($('#slide-descrition').val());
            var jumpUrl = $.trim($('#slide-url').val());
            var img_path = $('#fileList').find('.file-item').attr('up_img_url');
            var img_path_thumb = $('#fileList').find('.file-item').attr('up_img_url_thumb');
            var isUploadImg=$('#fileList').find('.progress');//图片是否在上传中
	        var reg=/^([hH][tT]{2}[pP]:\/\/|[hH][tT]{2}[pP][sS]:\/\/)(([A-Za-z0-9-~]+)\.)+([A-Za-z0-9-~\/])+$/;
            var isslide='0';
            if($('.isslide').prop('checked')){
	            isslide='1';  //1为设置为轮播图
            }

            if (!title) {
                layer.msg('请输入图片标题');
                return false
            }
            if (!jumpUrl) {
                layer.msg('请输入图片链接地址');
                return false
            }

            if(!reg.test(jumpUrl)&&jumpUrl!='#'){
	            layer.msg('请输入合法的图片链接地址');
	            return false
            }
            if(isUploadImg.length>=1){
	            layer.msg('图片上传中，请稍后');
	            return false
            }
            if (!img_path) {
                layer.msg('请上传图片');
                return false
            }
            var parmData = {
                title: title,
                descrition: descrition,
                jumpUrl: jumpUrl,
                img_path: img_path,
                img_path_thumb:img_path_thumb,
                editId: editId,
	            isslide:isslide
            };

            loading=layer.load(2);
            $.ajax({
                url: '/slideshow/addslide',
                type: 'get',
                data: parmData,
                dataType: "json",
                success: function (data) {
                    if (data.errno == 0) {
                        layer.close(loading);
                        layer.msg(data.errmsg);
                        setTimeout(function () {
                            window.location.href = '/slideshow/index';
                        }, 2000)
                    } else {
                        layer.close(loading);
                        layer.msg(data.errmsg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    layer.msg('服务器错误');
                }
            })
        });
    });
    window.onbeforeunload = function(){
	    cleanImg()
    };

    function cleanImg () {
    	var imgUrl=$('#fileList').find('.thumbnail').attr('up_img_url');
	    $.ajax({
		    url: '/slideshow/cleanImg',
		    type: 'get',
		    data: {
		    	'imgUrl':imgUrl
            },
		    dataType: "json",
		    success: function (data) {

		    },
		    error: function (xhr, ajaxOptions, thrownError) {

		    }
	    })
    }
</script>

{% endblock%}