{% extends "./base.html" %}
{% block main %}
    <div class="operate">
        <div class="btn-group">
            <a href="/slideshow/add?menu_id=20" class="btn btn-info btn-flat">添加图片</a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>标题</td>
                    <td>是否轮播图</td>
                    <td>图片</td>
                    <td>跳转链接</td>
                    <td>轮播图描述</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>

                {% if slide_list.length>0 %}
                    {% for list in slide_list%}
                        <tr data-slide="{{list.is_slide}}">
                            <td>{{loop.index}}</td> <!--当前循环数-->
                            <td>{{list.slide_title}}</td>
                            <td>
                                {% if list.is_slide=='1' %}
                                <span class="text-red">是</span>
                                {% else %}
                                否
                                {% endif%}
                            </td>
                            <td>
                                {% if list.slide_img %}
                                <img src="{{qiniuImgHost}}{{list.slide_img}}?{{shuiyanImgThumb2}}" class="table-img">
                                {% else %}
                                <img class="table-img" src="/static/images/nopic.gif"/>
                                {% endif %}
                            </td>
                            <td>{{list.slide_jumpurl}}</td>
                            <td>{{list.slide_text}}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm edit" data-id="{{list.slide_id}}">查看编辑</button>
                                <button type="button" class="btn btn-info btn-sm set-slide" data-id="{{list.slide_id}}">{{'取消轮播图' if list.is_slide=='1' else '设置轮播图'}}</button>
                                <button type="button" class="btn btn-warning btn-sm delete" data-id="{{list.slide_id}}">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5" align="center">暂无轮播图纪录</td>
                </tr>
                {% endif %}

            </tbody>
        </table>
        {{ pagination | safe}}
    </div>
    <script>
        $(function () {
            /*
            * 编辑轮播图
            * */
            $('.edit').off('click').on('click',function (e) {
                var id=$(this).attr('data-id');
	            var menuId=GetQueryString('menu_id');
                window.location.href='/slideshow/add?slide-id='+id+'&menu_id='+menuId;
            });
            /*
            * 删除轮播图
            * */
            $('.delete').off('click').on('click',function (e) {
                var that=this;
                layer.confirm('您确定执行删除操作？', {
                    btn: ['确定','取消']
                }, function(){
                    var id=$(that).attr('data-id');
                    loading=layer.load(2);
                    $.get('/slideshow/delete',{'slide-id':Number(id)},function (data) {
                        if(data.errno==0){
                            layer.close(loading);
                            layer.msg(data.errmsg);
	                        setTimeout(function () {
		                        window.location.reload();
	                        }, 2000)
                        }else {
                            layer.close(loading);
                            layer.msg(data.errmsg);
                        }
                    },'json')
                }, function(){

                });

            });
            /*
            * 更改轮播状态
            * */
            $('.set-slide').off('click').on('click',function (e) {
	            var that=this;
	            var title='';
	            var isSlide;
	            var isLide=$(this).closest('tr').attr('data-slide');
	            var count=$(this).closest('table').find('.text-red');
	            if(isLide=='1'){
		            title='您将要取消轮播图设置';
		            isSlide='0';
                }else {
		            title='您将要设置该图为轮播图';
		            isSlide='1';
		            if(count.length>=5){
			            layer.msg('轮播图最多只能设置5个，请先取消其他已设置的轮播图');
			            return false;
		            }
                }
	            layer.confirm(title, {
		            btn: ['确定','取消']
	            }, function(){
		            var id=$(that).attr('data-id');
		            loading=layer.load(2);
		            $.get('/slideshow/setslide',{'slide-id':Number(id),'is_slide':isSlide},function (data) {
			            if(data.errno==0){
				            layer.close(loading);
				            layer.msg(data.errmsg);
				            setTimeout(function () {
					            window.location.reload();
				            },1500)

			            }else {
				            layer.close(loading);
				            layer.msg(data.errmsg);
			            }
		            },'json')
	            }, function(){

	            });
            })
        })
    </script>

{% endblock%}