{% extends "./base.html" %}
{% block main %}
<link href="/static/js/web-uploader//dist/webuploader.css" rel="stylesheet">
<form action="" method="post" class="form-horizontal" id="form">
    <div class="box-body">
        <div class="form-group">
            <label for="slide-title" class="col-md-2 col-sm-2 control-label">图片标题</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <input type="text" class="form-control" id="slide-title" placeholder="图片标题"
                       value="{{slideData.slide_title}}">
            </div>
        </div>
        <div class="form-group">
            <label for="slide-descrition" class="col-md-2 col-sm-2 control-label">图片描述</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <textarea class="form-control" id="slide-descrition" rows="4" placeholder="图片描述">{{slideData.slide_text}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="slide-url" class="col-md-2 col-sm-2 control-label">跳转链接地址</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <input type="text" class="form-control" id="slide-url" placeholder="跳转链接地址" value="{{slideData.slide_jumpurl}}">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-md-2 col-sm-2 control-label">图片上传</label>
            <div class="col-lg-8 col-md-8 col-sm-10">
                <!--<input type="file" class="form-control" id="slide-upload" name="slide-upload">-->
                <!--dom结构部分-->
                <div id="uploader">
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list">
                        {% if slideData.slide_img.length>0 %}
                            <div class="file-item thumbnail">
                                <img src="{{slideData.slide_img}}">
                            </div>
                        {% endif %}
                    </div>
                    {% if slideData.slide_img.length>0 %}
                        <div id="re-select" class="btn btn-warning">重新上传</div>
                        <div id="filePicker" style="visibility: hidden">选择图片</div>
                        {% else %}
                        <div id="filePicker">选择图片</div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-md-offset-1 col-sm-offset-2">
            {% if editSort %}
            <button type="button" class="btn btn-default" onclick="javascript:window.history.back();">返回</button>
            {% endif %}
            <button type="submit" class="btn btn-success" id="push-btn" style="margin-left: 20px;">确定</button>
        </div>
    </div>
</form>
<script src="/static/js/web-uploader/dist/webuploader.js"></script>
<script>
    $(function () {
        /*
         * 百度上传插件
         * */
        // 初始化Web Uploader
        // 缩略图大小
        // 优化retina, 在retina下这个值是2
        var ratio = window.devicePixelRatio || 1,
            thumbnailWidth = 210 * ratio,
            thumbnailHeight = 210 * ratio;
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '/static/js/web-uploader/dist/Uploader.swf',
            // 文件接收服务端。
            server: '/slideshow/uploadImg',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            thumb:{
                width: 210,
                height: 210,
            },
            fileNumLimit:1,
            fileSingleSizeLimit:3 * 1024 * 1024   // 5M
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            var $list=$('#fileList');
            var $li = $(
                    '<div id="' + file.id + '" class="file-item thumbnail">' +
                        '<img style="display: block">' +
                        '<div class="progress"><span></span></div>'+
                        '<div class="info">' + file.name + '</div>' +
                    '</div>'
                ),
                $img = $li.find('img');


            // $list为容器jQuery实例
            $list.append($li);

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress"><span></span></div>')
                    .appendTo($li)
                    .find('span');
            }

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file,response) {
            $('#' + file.id).addClass('upload-state-done').attr('up_img_url',response.data.img_path);
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            var $li = $('#' + file.id),
                $error = $li.find('div.error');

            // 避免重复创建
            if (!$error.length) {
                $error = $('<div class="error"></div>').appendTo($li);
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').remove();
        });
        uploader.onError = function( code ) {
            if(code=='Q_EXCEED_NUM_LIMIT'){
                layer.msg('只能上传一张图片')
            }else if(code=='F_EXCEED_SIZE'){
                layer.msg('请上传3M以内的图片')
            }
            else{
                layer.msg(code)
            }
        };
        /*
        * 编辑时，重新上传图片，移除dom 显示filePicker按钮 按照新增时的流程上传图片
        * */
        $('#re-select').off('click').on('click',function (e) {
            $(this).hide();
            $('#fileList').find('.file-item').remove();
            $('#filePicker').css('visibility','visible');
        });

        /*
        * 提交图片路径和文字
        * */
        $('#push-btn').off('click').on('click', function (e) {
            e.preventDefault();
            var editId = GetQueryString('slide-id');//是否是编辑
            if (editId) {
                editId = 1
            } else {
                editId = 0
            }
            var title = $.trim($('#slide-title').val());
            var descrition = $.trim($('#slide-descrition').val());
            var jumpUrl = $.trim($('#slide-url').val());
            var img_path = $('#fileList').find('.file-item').attr('up_img_url');
            var cn_reg =  /[^\u4e00-\u9fa5]/;
            if (!title) {
                layer.msg('请输入图片标题');
                return false
            }
            if (!jumpUrl) {
                layer.msg('请输入图片链接地址');
                return false
            }
            if (!cn_reg.test(jumpUrl)) {
                layer.msg('跳转地址不能输入中文');
                return false
            }
            if (!img_path) {
                layer.msg('请上传图片');
                return false
            }
            var parmData = {
                title: title,
                descrition: descrition,
                jumpUrl: jumpUrl,
                img_path: img_path,
                editId: editId
            };

            $.ajax({
                url: '/slideshow/addslide',
                type: 'get',
                data: parmData,
                dataType: "json",
                success: function (data) {
                    if (data.errno == 0) {
                        layer.msg(data.errmsg);
                        setTimeout(function () {
                            window.location.href = '/slideshow/index';
                        }, 2000)
                    } else {
                        layer.msg(data.errmsg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    layer.msg('服务器错误');
                }
            })
        });
    })
</script>

{% endblock%}